*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    background: radial-gradient(#fff, #e7cf30);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    font-size: 50px;
    margin: 50px;
    text-align: center;
}
.form-log{
    width: 600px;
    height:fit-content;
    background: radial-gradient(#fff, #803ddd7c);
    border-radius:10px;
    display:flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;

}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-log td{
    font-size: 20px;
}
.form-log input{
    font-size:20px;
    padding: 8px;
    margin: 3px;
    border-radius:20px;
    border-color: rgba(254, 230, 151, 0.654);
    background-color: rgba(174, 172, 169, 0.312);
}
.submit{
    width: 120px;
    height: 45px;
    border-radius:22px !important;
    background-color: #ff523b !important;
    color: #fff;
}
.back{
    font-size: 25px;
    color: #000;
    text-decoration: none;
    border-bottom: solid #ff523b ;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.551);
}
